@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

/*MODAL INTEIRO*/

#modalLogin{
    
   
    background-color: #5c1d53;
    width: 850px;
    height: 410px;
    border-radius: 20px;
    font-family: "Playpen Sans", cursive;
    font-weight: 200;
}
#modalLogin::backdrop{
 
    background-color: rgba(31, 30, 30, 0.699);

}

.tudodomodal{
    margin-left: 210px;
    width: 600px;
    

}

/*textos*/

.texto-login{

   font-size: 40px;
   color: aliceblue;
   margin-left: 28%;
   margin-top: -30px;
   color: #e7b705;
   
}

/*CAMPOS DE PREENCHER*/

#Dig-login{
    width: 450px;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 80px;
}
#Dig-senha{
    width: 450px;
    font-size: 25px;
    margin-left: 80px;
    margin-top: 15px;
}


/*BUTTONS*/

#btn-acessar{

    width: 100px;
    height: 50px;
    background-color: #5c1d53;
    border: solid 0px;
    font-size: 25px;
    color: #e7b705;
    margin-left: 40%;
    margin-top: 30px;
    font-family: "Playpen Sans", cursive;
    font-weight: 200;
    
}
#btn-FecharLogin{
    width: 100px;
    height: 50px;
    background-color: #5c1d53;
    border: solid 0px;
    font-size: 25px;
    color: #e7b705;
    margin-left: 0px;
    font-family: "Playpen Sans", cursive;
    font-weight: 200;
   
}

 /*IMG*/
 
#astronauta{
    
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: -300px;
    margin-left: -25px;
    
    
}
@media (min-width:100px) and (max-width: 500px ){

    #modalLogin{
    
   
        background-color: #5c1d53;
        width: 600px;
        height: 310px;
        border-radius: 20px;
        font-family: "Playpen Sans", cursive;
        font-weight: 200;
        
    }
    
    .texto-login{
        width: 200px;
        font-size: 25px;
        color: aliceblue;
        margin-left: 180px ;
        margin-top: -40px;
        color: #e7b705;
        
        
     }
     .tudodomodal{
        margin-left: 0px;
        width:  0px;
        
    
    }
     .cardLogin{

       height: 150px;
       width: 300px;
       margin-left: 60px;
       
       

     }
     /*IMPUTS*/
     #Dig-login{
        width: 250px;
        height: 45px;
        font-size: 15px;
        margin-top: 40px;
       
       
    }
    #Dig-senha{
        width: 250px;
        height: 45px;
        font-size: 15px;
       
    }
    
    /*IMG*/
    #astronauta{
    
        width: 150px;
        height: 150px;
        display: flex;
        margin-top: -200px;
        margin-left: -25px;
       
        
    } 
    /*BOTOONS*/
    #btn-acessar{

        width: 100px;
        height: 50px;
        margin-left: 200px;
        margin-top: 25px;
        color: #e7b705;
        background-color: #5c1d53;
        border: solid 0px;
        font-size: 25px;
        font-family: "Playpen Sans", cursive;
        font-weight: 200;
      
        
    }
    #btn-FecharLogin{
        width: 100px;
        height: 50px;
        background-color: #5c1d53;
        border: solid 0px;
        font-size: 22px;
        color: #e7b705;
        margin-left: 0px;
        font-family: "Playpen Sans", cursive;
        font-weight: 200;
  
        
    }


}
