@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pompiere&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*MODAL INTEIRO*/

#modalAjuda{

    
    background-color: #5c1d53;
    width: 680px;
    height: 460px;
    border-radius: 20px;
    

}
#modalAjuda::backdrop{
    background-color: rgba(31, 30, 30, 0.699);
}

/*textos*/

.textos{
   
   width: 600px; 
   color: #e7b705;
   text-align: center;
   margin-top: 10px;
   margin-left: 45px;
   font-family:"Nunito Sans", sans-serif;
   font-style: italic;
   font-size: 22px;
}

/*Buttons*/

#btn-FecharModalAjuda{
    background-color: #5c1d53;
    color: aliceblue;
    border: 0px;
    font-size: 25px;
    font-family:"Nunito Sans", sans-serif;
    font-style: italic;
    color: #e7b705;
}
#btn-FecharModalAjuda:hover{
    color: #9c7c07;
}

#btn-EnviarMansagem{
    
    background-color: #5c1d53;
    color: aliceblue;
    border: 0px;
    font-size: 25px;
    margin-left: 43%;
    font-family:"Nunito Sans", sans-serif;
    font-style: italic;
    color: #e7b705;
}
#btn-EnviarMansagem:hover{
    color: #9c7c07;
}

#CabMensagem{

    margin-left: 8%;
    margin-top: 60px;
    font-size: 25px;
}
